# tests
tests/cleaner_tests/*.result.txt
tests/cleaner_tests/*.result2.txt

# exps
resultados/experimento15/output

tmp
rulegroup/__pycache__

# output_files
out_parse_rules_*

# Executables
b
cleaner
rule_parse_app
ccf
db
freq_dist
scrambler_app
txmba_bag
txmba_each

rule_parse_test
scrambler_test
txmba_cleaner_test

# Virtual enviroments
venv-tesis-jm


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
